---
- name: OS-specific package installation
  hosts: all
  gather_facts: true   

  tasks:
    - name: Include tasks for Debian-based systems
      include_tasks: tasks/install_debian.yml
      when: ansible_facts['os_family'] == "Debian"

    - name: Include tasks for RedHat-based systems
      include_tasks: tasks/install_redhat.yml
      when: ansible_facts['os_family'] == "RedHat"
